<html>
	<head>
		<title>Archie's Python Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Archie's Python Blog</a></h1>
		</div>
		<div>
			<p>published: 02.01.2016, 08:07</p>
			<h2><a href="">Python Tornado</a></h2>
			<p>Tornado is a scalable, non-blocking web server and web application framework written in Python.[2] It was developed for use by FriendFeed; the company was acquired by Facebook in 2009 and Tornado was open-sourced soon after.[3]</p>
		</div>
		<div>
			<p>published: 02.01.2016, 10:11</p>
			<h2><a href="">Web2Py</a></h2>
			<p>Web2py is an open source web application framework written in the Python programming language. Web2py allows web developers to program dynamic web content using Python. Web2py is designed to help reduce tedious web development tasks, such as developing web forms from scratch, although a web developer may build a form from scratch if required.[2]

Web2py was originally designed as a teaching tool with emphasis on ease of use and deployment. Therefore, it does not have any project-level configuration files. The design of web2py was inspired by the Ruby on Rails and Django frameworks. Like these frameworks, web2py focuses on rapid development, favors convention over configuration approach and follows a model–view–controller (MVC) architectural pattern.</p>
		</div>
	</body>
</html>
